<div [hlmContextMenuTrigger]="menu" class="p-absoulte hidden">Right click here</div>

<div #menuAnchor class="absolute hidden" [hlmContextMenuTrigger]="menu"></div>
<ng-template #menu>
  <hlm-dropdown-menu>
    <hlm-dropdown-menu-group>
      <button hlmDropdownMenuItem>Profile</button>
      <button hlmDropdownMenuItem>Billing</button>
      <button hlmDropdownMenuItem>Team</button>
      <button hlmDropdownMenuItem>Subscription</button>
    </hlm-dropdown-menu-group>
  </hlm-dropdown-menu>
</ng-template>
