<div class="relative w-full h-full" (contextmenu)="$event.preventDefault()">
  <div #pixiContainer></div>
  <app-context-menu [menuTemplate]="stageMenuTemplate"> </app-context-menu>
</div>

<ng-template #nodeMenuTemplate let-node>
  <hlm-dropdown-menu>
    <hlm-dropdown-menu-group>
      <button
        hlmDropdownMenuItem
        (triggered)="orchestrator.removeNode(node().id)"
      >
        Remove node
      </button>
    </hlm-dropdown-menu-group>
  </hlm-dropdown-menu>
</ng-template>

<ng-template #stageMenuTemplate let-pos>
  <hlm-dropdown-menu>
    <hlm-dropdown-menu-group>
      <button
        hlmDropdownMenuItem
        (triggered)="orchestrator.openAddNodeDialog(pos().x, pos().y)"
      >
        Add node
      </button>
      <button
        hlmDropdownMenuItem
        (triggered)="orchestrator.connectionMenuAction().handler()"
      >
        {{ orchestrator.connectionMenuAction().label }}
      </button>
    </hlm-dropdown-menu-group>
  </hlm-dropdown-menu>
</ng-template>
