<div class="relative w-full h-full" (contextmenu)="$event.preventDefault()">
  <div #pixiContainer></div>
  <app-context-menu [menuTemplate]="stageMenuTemplate"> </app-context-menu>
</div>

<ng-template #nodeMenuTemplate let-node>
  <hlm-dropdown-menu>
    <hlm-dropdown-menu-group>
      <button
        hlmDropdownMenuItem
        (triggered)="orchestrator.removeNode(node().id)"
      >
        Remove node
      </button>
      @if (
        node().type === "server" &&
        orchestrator.connectionPickState().step === "idle"
      ) {
        <button
          hlmDropdownMenuItem
          (triggered)="orchestrator.startConnectionFromNode(node())"
        >
          Connect
        </button>
      }
    </hlm-dropdown-menu-group>
  </hlm-dropdown-menu>
</ng-template>

<ng-template #connectionMenuTemplate let-connector>
  <hlm-dropdown-menu>
    <hlm-dropdown-menu-group>
      <button
        hlmDropdownMenuItem
        (triggered)="orchestrator.editConnection(connector())"
      >
        Edit connection
      </button>
      <button
        hlmDropdownMenuItem
        (triggered)="orchestrator.removeConnection(connector().id)"
      >
        Remove connection
      </button>
    </hlm-dropdown-menu-group>
  </hlm-dropdown-menu>
</ng-template>

<ng-template #stageMenuTemplate let-pos>
  <hlm-dropdown-menu>
    <hlm-dropdown-menu-group>
      <button
        hlmDropdownMenuItem
        (triggered)="orchestrator.openAddNodeDialog(pos().x, pos().y)"
      >
        Add node
      </button>
    </hlm-dropdown-menu-group>
  </hlm-dropdown-menu>
</ng-template>
