<hlm-popover sideOffset="5">
  <button id="edit-profile" hlmPopoverTrigger hlmBtn variant="outline">
    Simulation
  </button>
  <hlm-popover-content class="grid w-80 gap-4" *hlmPopoverPortal="let ctx">
    <hlm-slider [(value)]="speed" showTicks="true" tickLabelInterval="5" />
    <button hlmBtn variant="outline">Back</button>
    <button hlmBtn variant="outline">Pause</button>
    <button hlmBtn variant="outline">Resume</button>
    <button hlmBtn variant="outline">Tick</button>
  </hlm-popover-content>
</hlm-popover>
